.container {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    height: 130px;
    margin-top: 8vh;
    margin-bottom: 50px;
}

.login-box {
    background-color: white;
    width: 400px;
    padding: 30px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.credentials {
    padding-bottom: 20px;
}

.label {
    font-size: 18px;
}

.more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.forgot {
    width: 400px;
    padding-left: 30px;
    margin-top: 20px;
}